[Unit]
After=network.target

[Service]
Type=simple
User=server
Environment="PORT=50003"
WorkingDirectory=/home/server/home
ExecStart=/usr/bin/node --experimental-modules ./server.mjs
Restart=on-failure

[Install]
WantedBy=multi-user.target
